<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>


<body>
<script>
    homepopwindow=null
    function openLink(rec,device){
        if(device=="D")
            homepopwindow=window.open("/loadYT/"+rec, "New Popup", "width=1000,height=550");
        if(device=="M")
            homepopwindow=window.open("/loadYT/mobile/"+rec, "New Popup", "width=1000,height=550");
    }
</script>
    <div>
        click your option to start
    </div>
    <input type="button" value="Start 1" onclick="javascript:openLink(0,'D')"  />
    <input type="button" value="Start 2" onclick="javascript:openLink(1,'D')"  />
    <input type="button" value="Start mobile 1" onclick="javascript:openLink(0,'M')"  />
    <input type="button" value="Start mobile 2" onclick="javascript:openLink(1,'m')"  />

</body>